body {
    font-family: 'Georgia', serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #fff0f5;
    color: #4b0082;
}

header {
    background-color: #ff69b4;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 2px -2px gray;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0.5em 0;
    font-family: 'Palatino', serif;
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main-content {
    display: flex;
    max-width: 1400px;
    width: 100%;
}

#intro, #about-me {
    flex: 1;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

#intro h2, #about-me h2 {
    font-family: 'Palatino', serif;
    font-size: 2em;
    color: #ff1493;
    text-align: center;
}

#intro p, #about-me p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.side-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-images img {
    max-width: 300px;
    margin: 20px 0;
    border-radius: 10px;
}

footer {
    background-color: #ff69b4;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 -4px 2px -2px gray;
    position: absolute;
    bottom: 0;
    width: 100%;
}
